<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>org.graylog</groupId>
    <artifactId>graylog-project</artifactId>
    <version>{{ .Server.Version }}</version>
    <packaging>pom</packaging>

    <scm>
        <connection>scm:git:git@github.com:Graylog2/graylog-project.git</connection>
        <developerConnection>scm:git:git@github.com:Graylog2/graylog-project.git</developerConnection>
        <url>https://github.com/Graylog2/graylog-project</url>
        <tag>HEAD</tag>
    </scm>

    <modules>
        <module>runner</module>

        {{ range $module := .Modules -}}
        <module>{{ .RelativePath }}</module>
        {{ end }}
    </modules>

    <properties>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <maven.compiler.source>11</maven.compiler.source>
        <maven.compiler.target>11</maven.compiler.target>
        <maven.compiler.release>11</maven.compiler.release>
        <maven.compiler.useIncrementalCompilation>false</maven.compiler.useIncrementalCompilation>
        <maven.build.timestamp.format>yyyyMMddHHmmss</maven.build.timestamp.format>
        <maven.source.skip>true</maven.source.skip>
        <maven.javadoc.skip>true</maven.javadoc.skip>
        <maven.install.skip>true</maven.install.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <maven.site.skip>true</maven.site.skip>

        <!-- Can be used to set a custom suffix for the assembly output -->
        <assembly.suffix></assembly.suffix>

        <!-- to work around filtering bug, which makes maven.build.timestamp inaccessible -->
        <build.timestamp>${maven.build.timestamp}</build.timestamp>
    </properties>

    <dependencies>
        {{ range $dependency := .Dependencies -}}
        <dependency>
            <groupId>{{ $dependency.GroupId }}</groupId>
            <artifactId>{{ $dependency.ArtifactId }}</artifactId>
            <version>{{ $dependency.Version }}</version>
        </dependency>
        {{ end }}
    </dependencies>

    <build>
        <plugins>
            <plugin>
                <artifactId>maven-assembly-plugin</artifactId>
                <version>3.1.0</version>
                <inherited>false</inherited>
                <executions>
                    {{ if gt (len (index .Assemblies "graylog")) 0 -}}
                    <execution>
                        <id>generate-project-server-artifact</id>
                        <phase>package</phase>
                        <goals>
                            <goal>single</goal>
                        </goals>
                        <configuration>
                            <finalName>graylog-${project.version}-${maven.build.timestamp}${assembly.suffix}</finalName>
                            <outputDirectory>${project.build.directory}/server</outputDirectory>
                            <descriptors>
                                <descriptor>src/main/assembly/server-tarball.xml</descriptor>
                            </descriptors>
                        </configuration>
                    </execution>
                    {{- end }}
                    {{ if gt (len (index .Assemblies "graylog-integrations")) 0 -}}
                    <execution>
                        <id>generate-project-integrations-artifact</id>
                        <phase>package</phase>
                        <goals>
                            <goal>single</goal>
                        </goals>
                        <configuration>
                            <finalName>graylog-integrations-plugins-${project.version}-${maven.build.timestamp}${assembly.suffix}</finalName>
                            <outputDirectory>${project.build.directory}/integrations</outputDirectory>
                            <descriptors>
                                <descriptor>src/main/assembly/integrations-tarball.xml</descriptor>
                            </descriptors>
                        </configuration>
                    </execution>
                    {{- end }}
                </executions>
                <configuration>
                    <attach>false</attach>
                    <appendAssemblyId>false</appendAssemblyId>
                    <ignoreMissingDescriptor>true</ignoreMissingDescriptor>
                </configuration>
            </plugin>
            <plugin>
                <groupId>com.mycila</groupId>
                <artifactId>license-maven-plugin</artifactId>
                <version>2.11</version>
                <configuration>
                    <skip>true</skip>
                </configuration>
                <executions>
                    <execution>
                        <goals>
                            <goal>check</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
    <profiles>
        <profile>
            <id>release</id>
            <build>
                <plugins>
                    <plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-assembly-plugin</artifactId>
                        <executions>
                            {{ if gt (len (index .Assemblies "graylog")) 0 -}}
                            <execution>
                                <id>generate-project-server-artifact</id>
                                <configuration>
                                    <finalName>graylog-${project.version}</finalName>
                                </configuration>
                            </execution>
                            {{- end }}
                            {{ if gt (len (index .Assemblies "graylog-integrations")) 0 -}}
                            <execution>
                                <id>generate-project-integrations-artifact</id>
                                <configuration>
                                    <finalName>graylog-integrations-plugins-${project.version}</finalName>
                                </configuration>
                            </execution>
                            {{- end }}
                        </executions>
                  </plugin>
                </plugins>
            </build>
        </profile>
    </profiles>
</project>

